

		body{ 
				font-family: Helvetica, Arial;
				font-size: 20px;
				line-height: 24px;
				margin:0;

		 }
		
		 div{
		 	padding-top: 50px;
		 }

		h1{	
				margin:0 50px 50px 50px;
				font-size: 40px;
				line-height: 48px;
				width: 400px;
		}

		p {
			width: 400px;
			margin: 10px 50px;

		}	

		a:link {
			margin: 10px;
			color:#363;
			text-decoration:none;
		}

		a:hover {
			margin: 10px;
			color:#6C3;
		}

		a:active {
			margin: 10px;
			color:#F00;

		}

		#barra {
			background-color: #FFF;
			height: 40px;
			background-image: url(img/feedly-logo-small-black.png);
			background-repeat: no-repeat;
			background-position: 50px 5px;
			padding-top: 0px;
			font-size: 16px;

		}
		#coneix {
			background-color: orange;
			height: 550px;
			background-image: url(img/img-hero-full-list.png);
			background-repeat: no-repeat;
			background-position: 450px 50px;
			}

		#tot {
			background-color: #FFF;
			height: 641px;
			background-image: url(img/allinone.jpg);
			background-repeat: no-repeat;
			background-position: 450px 50px;
			background-size: 700px;
			}

		#util {
			background-color: #333 ;
			height: 500px;
			background-image: url(img/curator-short.png);
			background-repeat: no-repeat;
			background-position: 450px 50px;
			}

		#rapid {
			background-color: #EEECEE ;
			height: 550px;
			background-image: url(img/img-hero-full-list.png);
			background-repeat: no-repeat;
			background-position: 450px 50px;
			}

		#facil {
			background-color: #6C3 ;
			height: 550px;
			background-image: url(img/mobile-share.png);
			background-repeat: no-repeat;
			background-position: 450px 70px;
			}

		#arreu {
			background-color: #EEECEE ;
			height: 643px;
			background-image: url(img/anywhere.png);
			background-repeat: no-repeat;
			background-position: 450px 50px;
			}

		#canvia {
			background-color: #333 ;
			height: 200px;
			background-image: url();
			background-repeat: no-repeat;
			background-position: 450px 50px;
			text-align: center;
			}
		#menu {
			width: 800px;
			float: right;
			padding-top: 10px;
		}








